  <h1>Create a User</h1>

<div class="row">
<div class="col-sm-4">

  <form novalidate="novalidate" class="form-horizontal">

	    <div class="control-group">
	      <label class="control-label" for="inputUsername">Username:</label>

	      <div class="controls">
	        <input type="text" id="inputUsername" ng-model="user.username" placeholder="Required"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="inputFirstName">First name:</label>

	      <div class="controls">
	        <input type="text" id="inputFirstName" ng-model="user.first_name" placeholder="Required"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="inputLastName">Last name:</label>
	      <div class="controls">
	        <input type="text" id="inputLastName" ng-model="user.last_name" placeholder="Required"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="inputSeamlessId">Seamless ID:</label>
	      <div class="controls">
	        <input type="text" id="inputLastName" ng-model="user.last_name" placeholder="Optional"/>
	      </div>   
	     </div>

	    <div class="control-group">      
	      <label class="control-label" for="inputOrganization">Organization Name:</label>
	      <div class="controls">
	        <input type="text" id="inputOrganization" ng-model="user.organization" placeholder="Optional"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="inputOrganizationId">Organization ID:</label>
	      <div class="controls">
	        <input type="text" id="inputOrganizationId" ng-model="user.organization_id" placeholder="Optional"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="inputAllocation">Allocation:</label>
	      <div class="controls">        
		<input type="text" id="inputAllocation" ng-model="user.allocation" placeholder="Optional"/>
	      </div>
	    </div>

	<br>
	    <div class="control-group">
	      <div class="controls">
	        <a ng-click="cancel()" class="btn btn-small">cancel</a>
	        <a ng-click="createNewUser()" class="btn btn-small btn-primary">create new user</a>
	      </div>
	    </div>
	  </form>
</div>

<div class="col-md-6 well">
<p>When creating a user on Seamless Karma, one has to specify their organization - either by specifying the organizations name or seamless karma id. Allocation in this case is an optional field: if nothing is specified, it'll default to the usual value for that organization.</p>
<p>Additionally, one can create a new organization by just adding their name here with a new Seamless Karma user - in this case, the allocation field is required, and will be the default allocation for new users from that organization.</p>
</div>



