<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="col-sm-3">
      <ul class="nav nav-stacked well">
        <li><a ng-click="createUser()" class="btn btn-small btn-success">create user</a></li>
        <br>
        <li class="nav-header"><input type="text" placeholder="Filter Results" ng-model="query"></li>
        <li ng-repeat="user in users.data | filter:query">
                <a href="#/users/detail/{{ user.id }}" >{{ user.first_name + ' ' +  user.last_name }}</a></li>
      </ul>
    </div>
  <div class="col-sm-9" ui-view></div>
</div>
</div>
